{% extends 'base_template.html' %}

	{% block titulo %} Productos {% endblock titulo %}
	{% block contenido %}

	<div>
        <header>
            <h1> Productos </h1>
            <div style="margin-left: 93%;">
                <a href="{% url 'productos:crear'%}" class="btn btn-primary boton">Agregar</a>
            </div>
        </header>
		<!-- Ir a la segunda pagina -->
        
        <!-- <form action="">
            <select name="filtro">
                <option value="0">Todos</option>
                {% for p in rubros %}
                    <option value="{{p.pk}}">{{p.nombre}}</option>
                {% endfor %}
            </select>
            <input type="number" name="desde" placeholder="DESDE">
            <input type="number" name="hasta" placeholder="HASTA">
            <button type="submit"> filtrar </button>
        </form> -->
        
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% for p in object_list %} 
                
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    {% if p.imagen %}
                                        <img src="{{p.imagen.url}}" class="card-img" alt="...">
                                    {% else %}
                                        <img src="..." class="card-img" alt="...">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{p.nombre}}</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga saepe fugiat laudantium quasi vitae totam, impedit rem eos quas ad, obcaecati voluptate quaerat. Architecto quo voluptatem ipsam cumque autem at.</p>
                                        <ul>
                                            <li>
                                                <p class="card-text"><strong class="text-muted">${{p.precio}}</strong></p>
                                            </li>
                                            <li>
                                                <p class="card-text"><strong class="text-muted">Stock: {{p.stock}}</strong></p>
                                            </li>
                                        </ul>
                                        <a href="{% url 'productos:detalle' p.pk %}" class="btn btn-primary">Ver Mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                {% endfor %}
            </div>
            <div class="col-2">
                
            </div>
        </div>
	</div>

    {% endblock contenido %}
    


        