{% extends 'base_template.html' %}

	{% block titulo %} Productos {% endblock titulo %}
	{% block contenido %}

	<div>
        <header>
            <h1> Favoritos </h1>
        </header>        
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% for p in object_list %} 
                
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    {% if p.producto.imagen %}
                                        <img src="{{p.producto.imagen.url}}" class="card-img" alt="...">
                                    {% else %}
                                        <img src="..." class="card-img" alt="...">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body" id="div-card{{p.pk}}">
                                        <h5 class="card-title">{{p.producto.nombre}}</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga saepe fugiat laudantium quasi vitae totam, impedit rem eos quas ad, obcaecati voluptate quaerat. Architecto quo voluptatem ipsam cumque autem at.</p>
                                        <ul>
                                            <li>
                                                <p class="card-text"><strong class="text-muted">${{p.producto.precio}}</strong></p>
                                            </li>
                                            <li>
                                                <p class="card-text"><strong class="text-muted">Stock: {{p.producto.stock}}</strong></p>
                                            </li>
                                        </ul>
                                        <a href="{% url 'productos:detalle' p.producto.pk %}" class="btn btn-primary">Ver Mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                {% endfor %}
            </div>
            <div class="col-2">
                
            </div>
        </div>
	</div>

    {% endblock contenido %}
    
    <!-- {% block js %}
        <script type="text/javascript">
            function favoritos(id){
                $.ajax({
                    data:{'id':id},
                    url : "{% url 'favoritos:favorit' %}",
                    type: 'get',
                    cache: false,
                    success: function(data){ //data es la respuesta del json que se encuentra en nuestra viws de favorito
                        $('#'+id).remove();
                        $('#div-card'+id).append("<strong>Listo</strong>");
                    }
                });
            }
        </script>
	{% endblock js %} -->